@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
    font-family: 'Manrope', sans-serif;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 10px;
}

body {
    margin: 20px;
}

.border {
    border-color: black;
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;
    padding: 30px;
    justify-self: right;
}

.percentage {
    margin-right: 76%;
}

.inline {
    display: flex;
    margin-right: auto;
    justify-content: right;
    align-items: center;
}

.justify {
    text-align: right;
}

input {
    border-radius: 3px;
    border-width: 1.8px;
    padding: 3px;
    margin: 7px;
}

.textIcon {

    display: flex;
    justify-content: right;
    align-content: inherit;
    align-items: center;
}