@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
    font-family: 'Manrope', sans-serif;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 10px;
}

body {
    margin: 20px;
}

.border {
    border-color: black;
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;
    padding: 30px;
    justify-self: right;
}

.percentage {
    margin-right: 76%;
}

.inline {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}
.inline img{
    width: 60px;
    height: 60px;
    padding: 10px;
}

.inline li{
    list-style: none;
   padding: 0px 0px 0px 0px;
}

.justify {
    text-align: right;
}

.justifyLeft {
    text-align: left;
}
.justifyCenter{
    text-align: center;
}

input {
    border-radius: 3px;
    border-width: 1.8px;
    padding: 3px;
    margin: 7px;
}
textarea{
    border-radius: 3px;
    border-width: 1.8px;
    padding: 3px;
    margin: 7px;
}

.textIcon {
    display: flex;
    justify-content: right;
    align-items: center;
}

.select {
    width: 55%;
    border-radius: 3px;
    border-width: 1.8px;
    padding: 3px;
    margin: 7px;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 0 70px 0 70px;
    color: black;
}

.footerStyle {
    padding-top: 30px;
    background-color: #A6C48A;
    margin: auto;
}

footer h3 {
    margin-bottom: 30px;
    font-size: 800;
}

.footerCol {
    margin-bottom: 5px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.inline2 {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.boxLeft{
    text-align:  left;
}
.submit{
    width:100px; 
    height:25px;
}

.map{
   padding-top: 40px;
   padding-bottom: 40px;
    text-align: center;
}

.separe1{
    margin-left: 33%;
}
.separe2{
    margin-left: 25%;
}
.separe3{
    margin-left: 10%;
}

.socialNetworks{
    line-height: 12px;
}
header{
    background-color: #A6C48A;
}
.navlist button{
    background-color:#678D58; 
    border: 1px solid black; 
    color: white; 
    padding: 10px 24px; 
    cursor: pointer;
    float: left; 
    width: 25%;
  }
.navlist button:hover{
    background-color: #140D4F;
}

.navLogo{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
}
.logo img{
    width: 170px;
    height: 75px;
    padding: 20px;
}

.search input{
    height: 33px;
    font-size: 17px;
    border: none;
}
.search button{
    padding-top: 2px;
    padding-bottom: 9px;
    background: #ddd;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.search img{
    transform: translateY(25%);
}
.search button:hover{
    background: #ccc;
}
.cart{
    padding: 20px;
    padding-right: 30px;
}
main{
    width: 80%;
    margin: auto;
}
.titleContact{
    text-align: left;
    margin-top: 60px;
    margin-bottom: 25px;
}
